.llama-table {
	overflow: auto;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	position: relative;
}

.llama-columngroup {
	overflow: hidden;
}

.llama-column {
	float: left;
	display: inline-block;
}

.llama-column.text-left {
	text-align: left;
}

.llama-column.text-right {
	text-align: right;
}

.llama-cell {
	box-sizing: border-box;
	height: 30px;
	line-height: 20px;
	padding: 5px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-style: solid;
	position: relative;
}

.llama-header,
.llama-footer {
	overflow: hidden;
	border-style: solid;
	border-width: 1px 0;
	min-height: 30px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
}

.llama-header {
	top: 0;
}

.llama-footer {
	bottom: 0;
}

.llama-header:first-child {
	border-top-width: 0;
}

.llama-header:last-child,
.llama-footer:last-child {
	border-bottom-width: 0;
}

.llama-header-cell {
	border-width: 0 1px 0 0;
	font-weight: bold;
}

.llama-body-cell {
	border-width: 1px 1px 0 0;
}

.llama-body-cell:first-child {
	border-top-width: 0;
}

.llama-body-cell:last-child {
	border-bottom-width: 0;
}

.llama-body-cell.showing-subcontent {
	border-bottom-width: 1px;
}

.llama-body-cell.is-clickable {
	cursor: pointer;
}

.llama-body {
	min-height: 30px;
	outline: none;
}

.llama-content {
	z-index: 1;
}

.llama-subcontent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.llama-table-component.show-header .llama-content,
.llama-table-component.show-header .llama-subcontent {
	margin-top: 30px;
}

.llama-table-component.show-footer .llama-content,
.llama-table-component.show-footer .llama-subcontent {
	margin-bottom: 30px;
}

.llama-empty {
	min-height: 30px;
	line-height: 30px;
	padding: 0 5px;
	position: absolute;
	top: 30px;
}

.llama-header-cell .column-label {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.llama-header-cell.sort-by-this .column-label {
	right: 15px;
}

.llama-header-cell.sort-by-this .sort-indicator {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-top-color: inherit;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: inherit;
	float: right;
	margin: 7px 3px;
}

.llama-header-cell.sort-by-this-ascending .sort-indicator {
	border-width: 0 5px 5px;
}

.llama-header-cell.sort-by-this-descending .sort-indicator {
	border-width: 5px 5px 0;
}

.llama-header-cell .resize-handle {
	position: absolute;
	top: 0;
	right: -5px;
	bottom: 0;
	width: 10px;
	cursor: ew-resize;
}

.llama-embed {
	position: absolute;
	left: 0;
	right: 0;
}
